*{
	font-family: 'Dosis', sans-serif;
}

.menu{
    width:100%;
	background:#fffce9;
}

.centrar{
	margin-left: 30%;
}

.navbar-default {
    background-color: #2f1f1f;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #b6976f;
    background-color: #2f1f1f;
}

.caret {
	 color: #8a4c3b;
}

.navbar{
	margin-bottom: 0;
}

/* Servicios */
.sercicios{
	background-color: #e9e0b7;
	height: 55vh;

	.circuloImg{
		border: 8px solid #dabe85;
		border-radius: 150px;
	}

	.circulosarriba{
		margin-top: -49px;
	}

	.titServicios{
		font-size: 25px;
		font-weight: lighter;
		color: $color_text_p;
	}

	.parrafServicios{
		font-size: 14px;
		color: $color_text_p;
	}

	.enlaceReadMore{
		text-decoration: $enlaces1;
		color: $color_enlaces1;
	}

	.enlaceReadMore:hover{
		text-decoration: $enlaces1;
		color: $color_text_p;
		font-weight: bolder;
	}
}

/* Welcome */
.welcome{
	background-color: $bacground_welcome;

	.imgRight{
		margin-left: 98px;
		border: 1px solid $bacground_welcome;
		border-radius: 30px;
		margin-top: 90px;
	}

	.textbox {
    	padding: 100px 5% 110px 5%;
	}

	.tituloWelcome{
		color: $color_titulo_welcome;
		text-align: center;
		font-weight: lighter;
		font-size: 40px;
	}
}

/* GIFT */
.gift{
	background-color: $background_gift;
	padding-top: 40px;
	padding-bottom: 40px;

	.textTit, .textTit2{
		color: $text_color_gift;
		font-size: 25px;
		text-align: right;
		font-weight: lighter;
	}

	.textTit{
		text-align: right;
	}

	.textTit2{
		text-align: left;
	}

	hr{
		width: 54%;
		margin-left: 277px;
	}

	.hr2{
		width: 54%;
		margin-left: 0px;
	}

	#circle-shape-example { 
	  margin-top: 40px; 
	  text-align: right;
	}

	#circle-shape-example2{ 
	  margin-top: 40px; 
	  text-align: left;
	}

	#circle-shape-example p, #circle-shape-example2 p { 
	  color: $text_color_gift;
	}

	#circle-shape-example .pp { 
	  min-width: 150px;
	  float: left;
	  margin-right: 20px;
	  margin-bottom: 20px; 
	  border-radius: 20px;
	  margin-left: 30px;
	}

	#circle-shape-example2 .pp2 { 
	  min-width: 150px;
	  float: right;
	  margin-left: 20px;
	  margin-bottom: 20px; 
	  border-radius: 20px;
	  margin-right: 30px;
	}

}