$body_font: 'Dosis', sans-serif;
$background_menu: #fffce9;
$color_text_titulo: #e19174;
$color_text_p: #2f1f1f;
$enlaces1: none;
$color_enlaces1: #dbbe86;
$bacground_welcome: #f4f4f4;
$color_titulo_welcome: #d9725a;
$background_gift: #4a3a3a;
$parrafo_text: justify;
$text_color_gift: #d5bc86;

$padding: 6%;
$padding_media: 11%;
$padding_footer: 2%;
$width_desktop: 100%;


